header {
    background-color: rgb(85, 156, 173);
    text-align: center;
    padding: 10px;
    font-size: 35px;
    h1 {
        color: rgb(74, 88, 153);
    }
}
nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: rgb(74, 88, 153);
        overflow: hidden;
    }
    ul li {
        float: left;
        a {
            display: inline-block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}
section {
    background-color: rgb(193, 178, 171);
    padding: 15px;
}
th, td {
    padding: 2px;
    border: 1px solid black;
}

.flex {
    display: flex;
    div {
        padding: 10px;
    }
}

#assignments {
    display: none;
}

#clicker, #assignments {
    padding: 10px;
    border: 4px, solid, white;
}
