.hw, #scheduleInfo {
    display: none;
}

.flex {
    display: flex;
}

.content {
    padding: 10px;
    background-color: white;
    width: 100%;
    /* margin-left: 10px; */
}

.navBar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: rgb(145, 166, 255);
    }
    li a {
        display: block;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
    }
    /* Change the link and background color on hover */
    li a:hover {
        background-color: #555555;
        color: white;
    }
}

header {
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 81, 84);
    margin-bottom: 10px;
}

footer {
    background-color: rgb(255, 136, 220);
    margin-top: 10px;
    padding: 10px;
    div {
        padding-top: 10px;
    }
}

body {
    background-color: rgb(250, 255, 127);
    margin: 10px 10px;
}

table {
    td, th {
        padding: 3px;
        border: 1px solid #ddd;
        text-align: left;
    }
}


#schedule-buttons {
    display: flex;
    justify-content: center; /* Centers horizontally */
}

#credits {
    display: none;
}

#choice2, #choice4, #choice6 {
    display: none;
}